@import "./variables.scss";
.ic-burger {
  width: 38.55421829223633px;
  height: 40px;
}
.bound {
  height: 40px;
  width: 38.55421829223633px;
}
.menu {
  width: 38.55421829223633px;
  height: 40px;
  position: absolute;
}
.back {
  background-color: #ff3e78;
  height: 40px;
  width: 38.55421829223633px;
  border-radius: 20px;
}
.icon {
  background-color: #ffffff;
  height: 16px;
  width: 17.349397659301758px;
  left: 10.6px;
  top: 12px;
  position: absolute;
}
.rectangle {
  background-color: #ffffff;
  height: 2px;
  width: 17.349397659301758px;
  border-radius: 1px;
  border: 0px solid #969696;
  top: 36px;
  left: 38.6px;
  position: absolute;
}
.rectanglecopy {
  background-color: #ffffff;
  height: 2px;
  width: 9.638554573059082px;
  border-radius: 1px;
  border: 0px solid #969696;
  top: 43px;
  left: 38.6px;
  position: absolute;
}
.rectanglecopy2 {
  background-color: #ffffff;
  height: 2px;
  width: 13.493975639343262px;
  border-radius: 1px;
  border: 0px solid #969696;
  top: 50px;
  left: 38.6px;
  position: absolute;
}
